<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.6.2" targetFramework="net461" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net461" />
  <package id="ManagedCuda-CUBLAS" version="8.0.22" targetFramework="net461" />
  <package id="ManagedCuda-CURAND" version="8.0.22" targetFramework="net461" />
  <package id="ManagedCuda-CUSOLVE" version="8.0.22" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>